<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="dao.ad-mapper">
	<select id="adListData" resultType="AdDTO">
		SELECT * FROM ad ORDER BY adno DESC
	</select>
	<select id="ad_info" resultType="AdDTO" parameterType="int">
		SELECT adsubject,url,adid,pointrange,presentrange,msg
		FROM ad WHERE adno=#{adno}
	</select>
	<select id="side_info" resultType="AdDTO" parameterType="int">
		SELECT adno, url, hit FROM ad WHERE adno=#{adno}
	</select>
	<update id="getpoint" parameterType="java.util.Map">
		UPDATE memberData SET sumpoint=sumpoint+#{point} WHERE id=#{id}
	</update>

	<insert id="insert_myadviewlist" parameterType="PointDTO">
		INSERT INTO adviewlist VALUES(#{adno}, #{id}, #{point}, SYSDATE)
	</insert>

	<insert id="insert_adviewlist" parameterType="PointDTO">
		INSERT INTO adviewlist VALUES(#{adno}, #{id}, #{point}, SYSDATE)
	</insert>
	
	
	<insert id="adRequestInsert" parameterType="Adreq">
		INSERT INTO adrequest(adno,adid,adsubject,msg,maj_category,sub_category,url,img,ppc,data1,data2,weight)
		VALUES(adreq_no_seq.NEXTVAL,#{adid},#{adsubject},#{msg},#{maj_category},#{sub_category},#{url},#{img},#{ppc},#{data1},#{data2},#{weight})
	</insert>
	
	<select id="adRequestList" resultType="Adreq">
		SELECT * FROM adrequest ORDER BY regdate DESC
	</select>
	<select id="adRequestInfo" parameterType="String" resultType="Adreq">
		SELECT * FROM adrequest WHERE adid=#{adid}
	</select>
	<delete id="adRequestDelete" parameterType="String">
		DELETE FROM adrequest WHERE adid=#{adid}
	</delete>
	
	<select id="getWeightData" resultType="dao.RecomDTO"> 
		SELECT data1, data2, weight FROM ad
	</select>
	
</mapper>





















