<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="dao.adgraph-mapper">
	<update id="PointUpdate" parameterType="PointDTO">
		UPDATE member SET sumpoint=sumpoint+${adpoint} WHERE userid=${userid} AND (SELECT adno FROM ad)=${adno}
	</update>
	<insert id="ViewListInsert" parameterType="PointDTO">
		INSERT INTO adviewlist SET adid=${adid}, adno=${adno}, userid=${userid}, point=${point}, viewtime=SYSDATE, count=count+1
		WHERE adno=${adno} AND userid=${userid}
	</insert>
	<select id="AllCountView" parameterType="PointDTO" resultType="PointDTO">
		SELECT sum(count) FROM adviewlist WHERE adid=${adid} AND adno=${adno}
	</select>
	<select id="AllCountViewTime" parameterType="PointDTO" resultType="PointDTO">
	SELECT count,adid,adno,viewtime FROM adviewlist WHERE adid=${adid} AND adno=${adno} ORDER BY (viewtime) DESC
	</select>
	<select id="AdViewChart" parameterType="PointDTO" resultType="java.util.Map">
	SELECT sum(count) FROM adviewlist WHERE adno=${adno} AND SELECT(viewtime FROM adviewlist WHERE adid=${adid})
 	BETWEEN (SELECT to_char(sysdate -30 ,'yyyymmdd hh24:mi:ss') FROM DUAL) AND (select to_char(sysdate,'yyyymmdd hh24:mi:ss') FROM DUAL);
	</select>
	
	
	
</mapper>