<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PreparedStatement,ResultSet -->
<mapper namespace="dao.adview-mapper">

	<select id="myadviewlist" resultType="PointDTO" parameterType="String">
		SELECT viewtime, point, adno FROM adviewlist
		WHERE id=#{id} ORDER BY viewtime DESC
	</select>
	
	<select id="getDescription" resultType="String" parameterType="int">
		SELECT adsubject FROM ad WHERE adno=#{adno}
	</select>
</mapper>