<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PreparedStatement,ResultSet -->
<mapper namespace="dao.adview-mapper">

	<select id="myadviewlist" resultType="PointDTO" parameterType="String">
		SELECT viewlist, point FROM adviewlist
		WHERE id=#{id} ORDER BY when DESC
	</select>
	
</mapper>