<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.notice-mapper">
	<!-- 리스트 불러오기 -->
	<select id="noticeListData" resultType="Notice" parameterType="java.util.Map">
		SELECT no, subject, regdate, hit, num
		FROM (SELECT no, subject, regdate, hit, rownum as num
		FROM (SELECT no, subject, regdate, hit
		FROM notice ORDER BY no DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 총 페이지 열수 -->
	<select id="noticeRowCount" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	<select id="noticeTotalPage" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	
	<!-- hit 증가-->
	<update id="noticeHitIncrement" parameterType="int">
		UPDATE notice
		SET hit=hit+1
		WHERE no=#{no}
	</update>
		
	<!-- 내용 보기-->	
	<select id="noticeContentData" resultType="Notice" parameterType="int">
		SELECT no,subject,regdate,hit,content
		FROM notice
		WHERE no=#{no}
	</select>
	
	<!-- 게시물 추가 -->
	<insert id="noticeWrite" parameterType="Notice">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM notice
		</selectKey>
		INSERT INTO notice VALUES(#{no},#{subject},#{content},SYSDATE,0) 
	</insert>
	
	<!--  게시물 수정 -->
	<update id="noticeModify" parameterType="Notice">
		UPDATE notice SET
		subject=#{subject},content=#{content},regdate=SYSDATE
		WHERE no=#{no}
	</update>
	
	<!-- 게시물 삭제 -->
	<!-- 댓글 삭제 추가해야... -->
	<delete id="noticeDelete" parameterType="int">
		DELETE FROM notice
		WHERE no=#{no}
	</delete>
	
	<!-- 댓글 연계 부분 -->
	<!-- 댓글 list 가져오기 -->
	<select id="noticeReplyCount" resultType="int" parameterType="int">
    	SELECT COUNT(*) FROM replynotice
    	WHERE bno=#{bno}
    </select>
    
	<select id="noticeReplyListData" resultType="NoticeReply" parameterType="int">
	    SELECT no,id,name,msg,TO_CHAR(regdate,'YYYY-MM-DD HH24:MI:SS') as dbday,group_tab
	    FROM replynotice
	    WHERE bno=#{bno}
	    ORDER BY group_id DESC,group_step ASC
  	</select>
	
	
	<!-- get # of pages per post -->
	<select id="noticeReplyTotalPage" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM replynotice
		WHERE bno=#{bno}
	</select>
	<!-- 댓글 추가 -->
	<insert id ="noticeReplyNewWrite" parameterType="Reply">
  <selectKey keyProperty="no" resultType="int" order="BEFORE">
  	SELECT NVL(MAX(no)+1,1) as no FROM replynotice
  </selectKey>
    INSERT INTO replynotice VALUES(#{no},#{bno},#{id},#{name},#{msg},SYSDATE,
    (SELECT NVL(MAX(group_id)+1,1) FROM replynotice), 0,0,0,0)
  </insert>
	 <!-- 댓글 댓글 -->
  <select id="noticeReplyParentInfo" resultType="Reply" parameterType="int">
    SELECT group_id,group_step,group_tab 
    FROM replynotice
    WHERE no=#{no}
  </select>
  <!-- 
        AAAAA
          => DDDDD    1
          => BBBBB    2
          
            => CCCCC  3
                
   -->
  <update id="noticeReplyStepIncrement" parameterType="Reply">
    UPDATE replynotice SET
    group_step=group_step+1 
    WHERE group_id=#{group_id} AND group_step>#{group_step}
  </update>
  <insert id="noticeReplyReplyWrite" parameterType="Reply">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
     SELECT NVL(MAX(no)+1,1) as no FROM replynotice
    </selectKey>
    INSERT INTO replynotice VALUES(#{no},#{bno},#{id},
       #{name},#{msg},SYSDATE,
       #{group_id},
       #{group_step},#{group_tab},#{root},0)
  </insert>
  <update id="noticeReplyDepthIncrement" parameterType="int">
    UPDATE replynotice SET
    depth=depth+1
    WHERE no=#{no}
  </update>
  <!-- 댓글삭제 -->
  <!-- 댓글 삭제 -->
  <select id="noticeReplyDataInfo" resultType="Reply" parameterType="int">
    SELECT depth,root FROM replynotice
    WHERE no=#{no}
  </select>
  <delete id="noticeReplyDelete" parameterType="int">
    DELETE FROM replynotice
    WHERE no=#{no}
  </delete>
  <update id="noticeReplyMsgUpdate" parameterType="int">
    UPDATE replynotice SET
    msg='관리자가 삭제한 댓글입니다'
    WHERE no=#{no}
  </update>

  <update id="noticeReplyDepthDecrement" parameterType="int">
    UPDATE replynotice SET
    depth=depth-1
    WHERE no=#{no}
  </update>
  
  <update id="noticeReplyUpdate" parameterType="Reply">
    UPDATE replynotice SET
    msg=#{msg}
    WHERE no=#{no}
  </update>
  
	
</mapper>