@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);



/* ICON STYLES - ICON FROM: http://fontastic.me/
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

@font-face {
  font-family: "untitled-font-1";
  src:url("../font-awesome/fonts/untitled-font-1.eot");
  src:url("../font-awesome/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../font-awesome/fonts/untitled-font-1.woff") format("woff"),
    url("../font-awesome/fonts/untitled-font-1.ttf") format("truetype"),
    url("../font-awesome/fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family:'SeoulHangang';
	src:url("08SeoulHangangM.eot");
	src:local('占쎌깑'), url("08SeoulHangangM.woff") format("woff"), url("08SeoulHangangM.ttf") format("ttf");
}
@font-face{
	font-family:'StickPencil';
	src:url("StickPencilR.eot");
	src:local('占쎌깑'), url("StickPencilR.woff") format("woff"), url("StickPencilR.ttf") format("ttf");
}


[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
}

.scroll-icon1 {
   position: absolute;
    left: 8%;
  bottom: 60px;
  font-family: 'SeoulHangang';
    -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
             transform: translateX(-50%);
}



/* HELPER CLASSES
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	/*text-transform: uppercase;*/
}

html {
	font-size: 62.5%;
}
/*�뜝�럩�쓧嶺뚳퐦�삕 �뜝�럥竊잌뜝�럥諭� �뜝�럡苡욜뼨�먯삕*/

body {
	color: black;
	letter-spacing: .18em;
}
/*letter-spacing�뜝�룞�삕 占쎈닱筌뤾쑴�겱 �뤆�룄�뫅�댆占� em�뜝�룞�삕 �뜝�럩寃긷뜝�럩�궨 �뜝�럥竊잌뜝�럥諭� �뜝�룞�삕占쎈쑏�뜝占�.. .18em�뜝�룞�삕 (�뜝�럩寃긷뜝�럩�궨font-size)X0.18*/

a {
	text-decoration: none;
	color: white;
}
/*�뜝�럥留뚦뜝�럥占썩댙�삕繹먲옙�윜諛몄굡占쎈츎 �뜝�럥�뿕�뜝�럥�맠 占쎄껀�뜝�띂寃ヨ쥈�뫖�뱺嶺뚮엪�삕 �뜝�럩肉녑뜝�럩踰�*/

ul, li {
	list-style-type: none;
}
/*ul�뜝�럩踰� li�뜝�럥�뱺 �뜝�럩肉녑뜝�럥裕� �뜝�럩�젍�뜝�럩諭� 嶺뚮㉡�삕*/


/* NAV STYLES
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

.header-top {
	background: rgba(132, 58, 94, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}
/*
padding �뜝�럡留믣뜝�럥由� 0px 占쎈꽞占쎌뒩占쎈뮡 10px
position: fixed; �뜝�럩�윸占쎈눀占쎌뒧占쎈뎄�뜝�럩�뮡�뜝�룞�삕 �뼨轅명�ｅ뜝�룞�삕�굢�맮�삕�땻占� 占썩뫁伊숋옙�젧
top: 0; �뜝�럩留� �뤆�룄�뫅�댆�룞�삕占쎈굵 0px�슖�댙�삕 嶺뚯쉻�삕�뜝�럩�젧
width: 100%; �뜝�럩逾졾뜝�럩�읇�뇦猿볦삕 �뜝�럥由�嶺뚮〕�삕 padding�뜝�럩諭� �뜝�럩�젷�뜝�럩�뇶�뜝�럥由�占썩뫅�삕 �뜝�럩�꼨嶺뚮∥�샍占쎈굵 �뤆�룊�삕�뜝�럥援� 嶺뚳옙熬곣뫜�삕.. �뛾�룇瑗뤄옙踰볟뜝�럩援�
z-index: 12; �뜝�럩�꼨嶺뚮〕�삕 �뜝�럥留곩뜝�럥痢� �뜝�럩�젧�뜝�럩議�.. �뜝�럥瑗ε뜝�룞�삕 �뜝�럥�뼪�뜝�럩�겱�뜝�럩逾у뜝�럥�빢�슖�돦鍮섋굢占� �뜝�럩留꾢슖�댙�삕 �뜝�럥留곩뜝�럩紐드슖�댙�삕 �뜝�럡�룎�뜝�럩湲� 嶺뚮엪�삕 �뜝�럥痢잌뜝�럥裕� -1
box-sizing: border-box; �뛾�룆踰∽옙裕� �뜝�럡苡욜뼨轅명�▼뜝�룞�삕 height*width�슖�댙�삕 嶺뚮씮�돵占쎈폏�뜝�럥瑗�占썩뫅�삕 padding, margin, border占쎈ご�뜝占� �뜝�럥�닱�뜝�럥�뱺 �뜝�럥占쎈쵓�삕占쎌깚�뜝�럥留�.
*/
h1 {
	line-height: 70px;
	/*height: 70px;*/
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}
/* 嶺뚮∥��占쎈� 占쎄껀�뜝�띂寃ヨ쥈�뫗諭� �뜝�럥�뱡占쎈ご占쏙옙占쎈듆 1�뤆�룇裕놅옙裕� �뜝�럥�뼫嶺뚮ㅏ援잓뜮癒뀁�ゅ뜝�뜽占썩뫅�삕 �뜝�럡�룎占쎌넂筌뤾쒀�삕 �뜝�럥�걗 �뤆�룇裕놅옙裕� X�뜝�럩�겱占쎈ご�뜝占� �뜝�럩逾좑옙�쇀占쎈쳛�젆占� �솻洹⑥삕�뜝�럥留� */
.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
	background: #962D3E;
}

nav li:nth-child(even) a {
	background: #aa3346;
}

nav li:nth-child(odd) a:hover {
	background: #9e2f41;
}

nav li:nth-child(even) a:hover {
	background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  


/* SECTION STYLES - fullPage.js 
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

section { 
	text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}
/*
	section�뜝�룞�삕 HTML5�뜝�럥�뱺 �뜝�럡�돮�슖�댙�삕 �뜝�럡臾며뼨�먯삕 document 占쎈쨨占쎈봽�뎽�뜝�럩�뭵�뜝�럥爰�
*/
h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}



/* MQ STYLES
�뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�럥�㎩뜝�룞�삕 */

@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}