#wrapper{
	border: 5px solid ;
	width: 600px;
	background-color: #ffffff;
	margin: 0px auto;
	border-radius:10px;
	padding: 15px;
	
}
#myPageForm{
	display: table;
	margin: 50px auto;
	border-collapse: collapse;

}
#myPageForm p{
	display: table-row;
	padding: 5px;
	
	font-family: '서울한강체';
	color:black;
}
#myPageForm p label{
	display: table-cell;
	padding-left: 40px;
	font-family: '서울한강체';
	color:black;
	font-weight: bolder;
}
#myPageForm .cellStyle{
	display: table-cell;
	padding-left: 5px;
}
#myPageForm #userid,#myPageForm #usermail{
	width: 100px;
}
#myPageForm #userpwd,#myPageForm #userpwd2{
	 width:80px;
}
#myPageForm #username,#myPageForm #usernum{
	width: 100px;
}
#myPageForm #useraddr1,#myPageForm #useraddr2{
	width: 250px;
	display: block;
}
#myPageForm input[type="text"],#myPageForm input[type="password"],
#myPageForm input[type="radio"],#myPageForm select{
	background-color: #efefef;
	border: 2px solid #0000ff;
	padding: 3px;
	margin: 5px;
	width:70px;
}

#myPageForm input[type="button"],#myPageForm input[type="submit"]{
	background-color: #ffffff;
	border: 3px solid #0000ff;
	padding: 3px 10px;
	border-radius:20px;
	font-family: '서울한강체';
}
#myPageForm .btnSubmit{
	display: block;
	text-align: center;
	position: relative;
	left: 250px;
	top:2px;
	border-bottom-style: none;
}